{{template "head" .}}
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://raw.githubusercontent.com/assertgo/icon/master/assertgo_512.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/auth/login" method="post">
      <p style="color: tomato;">{{ .loginissue}}</p>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
</body>
</html>